.event {
    background-color: aqua;
    width: 100%;
    cursor: grab;
    z-index: 100;
    display: flex;
    flex-direction: column;
    /* margin: -25 -25 0 0; Why no effect? */
}

.edge {
    border: 1px solid transparent;
    cursor: ns-resize;
}

.description{
    font-size: 14;
    overflow-x: hidden;
    justify-self: center;
}