.calendar-container {
    border-left: 2px solid black;
    height: 100%; width: 100%;
    display: grid;
    /* grid-template-rows: minmax(0, 64px) minmax(0, .5fr) minmax(0, 5fr); */
    grid-template-rows: minmax(0, 64px) minmax(0, 5fr);
    grid-template-columns: minmax(0, .1fr) minmax(0, 5fr) minmax(0, .5fr);
    grid-template-areas: 
        "time-readout time-readout scroll-buttons"
        /* ". date-bar date-bar" */
        "date-container date-container date-container"
    ;
    padding: 0 0 5px 0;
}

.scroll-buttons {
    grid-area: scroll-buttons;
    display: flex;
    align-self: center;
}

.date-container {
    grid-area: date-container;
    display: grid;
    grid-template-columns: minmax(4em, .1fr) minmax(0, 5.5fr);
    grid-template-rows: minmax(0, 1fr), minmax(0, 9fr);
    grid-template-areas: 
        ". date-bar"
        "hour-and-date hour-and-date"
    ;
}

.hour-and-date {
    grid-area: hour-and-date;
    display: grid;
    grid-template-columns: minmax(4em, .1fr) minmax(0, 5.5fr);
    grid-template-rows: minmax(0, 1fr);
    grid-template-areas:
        "hour-column date-field"
    ;
    overflow-y: auto;
}

.date-bar {
    grid-area: date-bar;
    display: grid;
    text-align: center;
}

.hour-column {
    grid-area: hour-column;
    /* margin-top: -.75em; */
}

.date-grid {
    grid-area: 2 / 2 / -1 / -1;
    display: flex;
}

.date-field {
    grid-area: date-field;
    /* height: 100%; */
    display: flex;
}

.time-readout {
    grid-area: time-readout;
    color: red;
    text-align: start;
    align-self: center;
    margin: 0px;
    padding: 0 0 0 5px;
}

.time-line {
    position: absolute;
    border-bottom: 2px solid;
    border-bottom-left-radius: 1px;
    width: 100%;
    z-index: -1;
}